{% extends 'base.html' %} {% block content %}

<p>
    <h3>See {{student.first_name}}'s excuses:</h3>
    Excuse: {{excuse.content}}, Believable? {{excuse.is_believable}}, Excuse number: {{excuse.id}} <br>
    <a href="{{url_for('edit_excuses', id=student.id, excuse_id=excuse.id)}}">Edit {{ student.first_name }}'s excuses</a>
</p>

<form method="POST" action="{{url_for('show_excuses', id=student.id, excuse_id=excuse.id)}}?_method=DELETE">
    <input type="submit" value="X">
</form>
{% endblock %}